body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}
/* header */
    .header-container {
        position: fixed;
        background-color: black;
        width: 100%;
        height: 100px;
        top: 0%;
    }
    .logo {
        height: 50px;
    }
    .logo-container {
        position: absolute;
        margin-top: 20px;
        margin-left: 60px;
    }
    .header {
        margin-left: 100px;
        overflow: hidden;
        padding: 20px 10px;
    }
    .header a {
        float: left;
        color: white;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 15px; 
        line-height: 25px;
        border-radius: 50px;
        margin-right: 10px;
    }
    .header a.logo {
        letter-spacing: 0.1em;
        font-size: 30px;
        font-weight: 800;
    }
    .header a.login {
        font-weight: 600;
    }
    #iniciar-sesion {
        margin-left: 80px;
    }
    #registro {
        margin-left: 20px;
        color: black;
        background-color: yellow;
        padding-inline: 40px;
    }
    #registro:hover {
        background-color: rgb(138, 138, 21);
        color: white;
    }
    .header .logo:hover {
        font-weight: 800;
        color: inherit;
        text-decoration: none;
    }
    .header a:hover {
        font-weight: 600;
        color: yellow;
        text-decoration: underline;
    }
    .header #present {
        font-weight: 600;
        color: yellow;
        text-decoration: underline;
    }
/* background-image */
    .background-image {
        position: absolute;
        margin-left: 650px;
        margin-top: 100px;
        height: 490px;
        width: 661px;
        overflow: hidden;
    }
    .rotating-image {
        margin-top: 50px;
        animation: rotate 25s linear infinite;
        height: 180%;
    }
    @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
      
        to {
          transform: rotate(360deg);
        }
    }
/* home */
/* index text */
    .text {
        margin-left: 60px;
    }
    #prefix {
        margin-bottom: 10px;
        padding-top: 200px;
        letter-spacing: 0.15em;
        font-size: 30px;
        font-weight: 100;
        color: rgb(184, 184, 184);
    }
    #index-h {
        margin-top: 0px;
        letter-spacing: 0.1em;
        font-size: 60px;
        font-weight: 800;
        max-width: 200px;
    }
/* button */
    .button {
        float: left;
        color: black;
        background-color: yellow;
        text-align: center;
        padding: 12px;
        padding-inline: 80px;
        text-decoration: none;
        font-size: 15px; 
        font-weight: 600;
        letter-spacing: 0.2em;
        line-height: 25px;
        border-radius: 50px;
    }
